/*
font-family: 'Roboto', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Baloo Chettan', cursive;
*/

/*Common style Start here*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	max-width: 1280px;
}

.wrapper{
	width: 94%;
	margin: 0 3%;
}
/*Common style end here*/
/*Main header*/
#main-header {
	background-color: rgb(10, 42, 102);
	width: 100%;
}

#main-nav {
	border-bottom: 1px solid rgba(155, 155, 155, 0.7);
	display: flex;
	justify-content: space-between;
	padding: 7px 0;
	position: -webkit-sticky;
	position: sticky;
}

.left-side-content,
.middle-content
 {
	display: flex;
	justify-content: space-between;
}

.left-side-content,
.right-side-content {
	width: 40%;
}

.middle-content {
	width: 20%;
}

.left-side-content #course-btn {
	background: transparent;
	padding: 15px 0 15px 20px;
	border: none;
}

.left-side-content #course-btn span {
	color: white;
	font-size: 1.1rem;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
}

.fa-caret-up {
	font-size: 0.8rem;
}

.search-bar {
	position: relative;
	top: 80%;
	-webkit-transform: translateY(-68%);
	transform: translateY(-68%);
	padding-right: 80px;
}

.search-field {
	background-color: rgb(30, 59, 114);
	width: 200px;
	padding: 10px;
	border-radius: 3px;
}

.search-field-inline {
	text-align: left;
	font-size: 1.1rem;
	font-weight: normal;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
}

.fa-search {
	color: white;
	font-size: 1.2rem;
	font-weight: normal;
	padding-right: 10px;
	text-align: right;
	position: relative;
	left: 60%;
}

/*MIddle content*/

.brand-logo {
	width: 100%;
	display: inline-block;
	text-decoration: none;
	font-family: 'Baloo Chettan', cursive;

}

.khan-logo {
	height: 100%;
	width: 100%;
}

.brand-text {
	font-size: 1.2rem;
	text-transform: capitalize;
	position: relative;
	top: -20%;
	/*-webkit-transform: translateY(-10%);
	        transform: translateY(-10%);*/
	color: white;
	font-family: 'Lato', sans-serif;
}

/*Right Side Content*/

.right-side-content .links ul{
	justify-content: flex-end;
	display: flex;
	list-style: none;
	width: 80%;
	margin-left: 70px;
}

.nav-item{
	width: 32%;
	padding: 15px;
}
.nav-link:nth-child(2){
	margin: 0 2%;
}

.nav-link{
	font-family: 'Roboto', sans-serif;
	font-size: 1.2rem;
	color: white;
	text-decoration: none;
}

#title{
	padding: 30px 0;
}

#title a{
	color: white;
	font-size: 1.1rem;
	font-family: 'lato', sans-serif; 
	text-decoration: none;
}

.fa-caret-left{
	padding-right: 15px;
}

.section-title-info-text{
	font-size: 2.1rem;
	color: white;
	font-family: 'Baloo Chettan';
	font-weight: normal;
}

/*Hidden Section Starts Here*/

#hidden{
	background: #fafafa;
	display: none;
	height: 0;
}

.subjects{
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: (1fr)[4];
	    grid-template-columns: repeat(4, 1fr);
	grid-column-gap: 15px;
}

.sub-list{
	list-style: none;
	width: 96%;
	margin: 20px 2%;
}

.heading{
	border-bottom: 1px solid rgba(0,0,0,0.4);
	font-size: 1rem;
	padding-bottom: 15px;
	margin-top: 10px;
	font-family: lato;
	color: #838589;
	text-transform: capitalize;
}

.heading:hover,
.sub-list li a:hover{
	text-decoration: underline;
	-webkit-text-decoration-color: #838589;
	        text-decoration-color: #838589;
}

.sub-list li{
	padding: 5px;
}

.sub-list li a{
	color: #4e5158;
	text-decoration: none;
	font-family: roboto;
	font-size: 0.9rem;
}